$font: var(--chlg-dropdown-font, 16pt "Arial");
$item-horizontal-padding: 15px;
$item-height: 40px;
$focus-ring-margin: 3px;

:host {
  display: block;
  font: $font;
}

.dropdown-trigger {
  display: inline-flex;
  max-width: var(--chlg-dropdown-trigger-max-width, 200px);
  border-radius: 4px;
  min-height: $item-height;
  padding-left: $item-horizontal-padding;
  padding-right: $item-horizontal-padding;
  cursor: pointer;
  font: $font;
  border: 1px solid var(--chlg-dropdown-border-color, #ACACAC);
  background-color: var(--chlg-dropdown-trigger-bg-color, #EEEEEE);
  &:hover {
    background-color: var(--chlg-dropdown-trigger-bg-color--hover, #D4D4D4);
  }
  &:active {
    background-color: var(--chlg-dropdown-trigger-bg-color--pressed, #BDBDBD);
  }
}

.chevron {
  margin-left: 5px;
}

.dropdown-content {
  border: 1px solid var(--chlg-dropdown-border-color, #ACACAC);
  background-color: var(--chlg-dropdown-content-bg-color, #FFFFFF);
  color: var(--chlg-dropdown-content-color, #000000);
}

.item {
  display: flex;
  align-items: center;
  height: $item-height ;
  padding-left: $item-horizontal-padding;
  padding-right: $item-horizontal-padding;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: var(--chlg-dropdown-item-bg-color--hover, #A3DDF9);
    color: var(--chlg-dropdown-text-color--hover, #000000);
  }
  &.selected {
    background-color: var(--chlg-dropdown-item-bg-color--selected, #2E97C9);
    color: var(--chlg-dropdown-text-color--selected, white);
  }
  &.disabled {
    color: var(--chlg-dropdown-text-color--disabled,#B8B8B8);
    background-color: var(--chlg-dropdown-item-bg-color--disabled, transparent);
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
    border: 2px solid var(--chlg-drodpdown-focus-border-color, #000000);
  }
}

#search {
  font: $font;
  margin: 10px;
}

.displayedValue {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tick {
    display: inline-block;
    width: 16px;
    margin-right: 5px;
    margin-left: -5px;
}

.hidden {
    display: none;
}

.icon {
  --iron-icon-width: 16px;
  --iron-icon-height: 16px;
}
